:root {
    --black: #424257;;
    --white: #FFFFFF;
    --txt-color: #4d4d52;
    --blue-light: #ebf5ff;
    --blue: #cde1ff;
    --violet-1: #7872b9;
    --violet-2: #9691d2;
    --violet-3: #d7c3e6;
    --violet-4: #f1e6f7;
    --red: #fa788c;
    --red-light: #faaab4;
    --yellow: #facd6e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    color: var(--txt-color);
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul, ol[class] {
    list-style: none;
}

