:root {
    --black: #212121;
    --white: #FFFFFF;
    --shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);

    --font-sans: "Open Sans", sans-serif;
    --visible-slides: 3; //количество видимых слайдов для сладера carousel
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: "Roboto", sans-serif;;
}

a {
    text-decoration: none;
}
ul, ol[class] {
    list-style: none;
}

/* Для браузеров на движке WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 992px) {
    :root {
        --visible-slides: 2;
    }
}
@media (max-width: 764px) {
    :root {
        --visible-slides: 2;
    }
}

@media (max-width: 576px) {
    :root {
        --visible-slides: 1;
    }
}