.title-1 {
    font-weight: 800;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: var(--violet-1);
}
.title-2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--violet-1);
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    .title-1 {
        font-size: 42px;
    }
}
@media (max-width: 768px) {
    .title-1 {
        font-size: 36px;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .title-1 {
        font-size: 24px;
        text-align: center;
    }
    .title-2 {
        font-weight: 800;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--violet-1);
    }
}