@use 'base/fonts';
@use 'base/general';
@use 'base/container';
@use 'base/typography';

@use 'ui/nav';
@use 'ui/burger';
@use 'ui/btns';
@use 'ui/table';
@use 'ui/forms';
@use 'ui/popup';
@use 'ui/modal';

@use 'libs/slider';
@use 'libs/carousel';

@use 'blocks/footer';
@use 'blocks/header';
@use 'blocks/therapy-perks';
@use 'blocks/help-psy';
@use 'blocks/psy-proof';
@use 'blocks/four-steps';