.footer {
    padding: 80px 0;
    background: #F9FCFF;
    &__wrapper {
        display: grid;
        grid-template: repeat(2, max-content) / 3fr 2fr 4fr 3fr;
        gap: 37px 0;
    }
    &__logo {
        grid-area: 1 / 1 / 2 / 2;
        width: 180px;
        height: 46px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        grid-area: 1 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.01em;
            margin-bottom: 8px;
        }
        a {
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--violet-1);
            transition: all .3s;
            display: block;
            &:hover {
                color: var(--red);
                transform: translateY(2px);
            }
        }
    }
    &__menu {
        grid-area: 1 / 3 / 3 / 4;
        display: flex;
        gap: 57px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
            a {
                font-weight: 600;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0.01em;
                color: var(--violet-1);
                transition: all .3s;
                &:hover {
                    color: var(--red);
                }
            }
        }
    }
    &__links {
        grid-area: 1 / 4 / 3 / 5;
        display: flex;
        flex-direction: column;
        gap: 20px;
        a {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.01em;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--txt-color);
        }
    }
    &__social {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        gap: 30px;
    }
    &__icon {
        width: 40px;
        height: 40px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1200px) {
    .footer {
        &__wrapper {
            grid-template: repeat(3, max-content) / 2fr 3fr;
        }
        &__logo {
            grid-area: 1 / 1 / 2 / 2;
        }
        &__info {
            grid-area: 3 / 1 / 4 / 2;
        }
        &__menu {
            grid-area: 1 / 2 / 3 / 3;
            gap: 80px;
        }
        &__links {
            grid-area: 3 / 2 / 4 / 3;
        }
        &__social {
            grid-area: 2 / 1 / 3 / 2;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__wrapper {
            grid-template: repeat(3, max-content) / 2fr 3fr;
            gap: 40px;
        }
        &__logo {
            grid-area: 1 / 1 / 2 / 2;
            width: 140px;
        }
        &__info {
            grid-area: 3 / 1 / 4 / 2;
        }
        &__menu {
            grid-area: 2 / 1 / 3 / 3;
            gap: 80px;
            ul {
                gap: 20px;
            }
        }
        &__links {
            grid-area: 3 / 2 / 4 / 3;
        }
        &__social {
            grid-area: 1 / 2 / 2 / 3;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 40px 0;
        &__wrapper {
            grid-template: repeat(5, max-content) / 1fr;
            gap: 40px;
        }
        &__logo {
            grid-area: 1 / 1 / 2 / 2;
            width: 100px;
            height: 26px;
        }
        &__info {
            grid-area: 3 / 1 / 4 / 2;
            gap: 20px;
            p {
                margin-bottom: 5px;
            }
            a {
                font-size: 16px;
            }
        }
        &__menu {
            grid-area: 2 / 1 / 3 / 2;
            gap: 60px;
            ul {
                gap: 20px;
                a {
                    font-size: 16px;
                }
            }
        }
        &__links {
            grid-area: 5 / 1 / 6 / 2;
        }
        &__social {
            grid-area: 4 / 1 / 5 / 2;
        }
    }
}
@media (max-width: 375px) {
    .footer__menu {
        gap: 30px;
        ul {
            a {
                font-size: 14px;
            }
        }
    }
}