.four-steps {
    padding: 100px 0 130px;
    background: var(--bg-color);
    &__title {
        text-align: center;
        margin-bottom: 80px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    &__txt-box {
        display: grid;
        grid-template-columns: 110px 370px;
        align-items: center;
    }
    &__num {
        width: 200px;
        height: 160px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__descr {
        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--txt-color);
            margin-bottom: 6px;
        }
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--txt-color);
        }
    }
    &__img-box {
        width: 488px;
        height: 210px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__promt {
        width: 150px;
        height: 100px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 1200px) {
    .four-steps {
        &__wrapper {
            gap: 120px;
        }
        &__item {
            gap: 80px;
        }
        &__txt-box {
            grid-template-columns: 110px 390px;
        }
        &__num {
            width: 160px;
            height: 120px;
        }
        &__img-box {
            width: max-content;
            height: max-content;
        }
        &__promt {
            width: 130px;
            height: 80px;
        }
    }
}

@media (max-width: 992px) {
    .four-steps {
        padding: 80px 0 100px;
        &__title {
            margin-bottom: 60px;
        }
        &__wrapper {
            gap: 80px;
        }
        &__item {
            gap: 40px;
        }
        &__txt-box {
            grid-template-columns: 60px 320px;
            gap: 30px;
        }
        &__num {
            width: 140px;
            height: 100px;
        }
        &__descr {
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 16px;
            }
        }
        &__promt {
            width: 120px;
            height: 70px;
        }
        &__btn {
            width:100%;
            padding: 0 18px;
        }
    }
}

@media (max-width: 768px) {
    .four-steps {
        padding: 60px 0 70px;
        &__wrapper {
            gap: 60px;
        }
        &__item {
            gap: 0;
            &:last-child {
                flex-direction: column;
                gap: 40px;
                width: 80%;
                margin: 0 auto;
            }
        }
        &__txt-box {
            grid-template-columns: 110px 1fr;
            gap: 0;
        }
        &__descr {
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 18px;
            }
        }
        &__img-box {
            display: none;
        }
        &__btn {
            padding: 0 50px;
        }
    }
}

@media (max-width: 576px) {
    .four-steps {
        padding: 40px 0 50px;
        &__title {
            margin-bottom: 40px;
        }
        &__wrapper {
            gap: 48px;
        }
        &__txt-box {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
        &__num {
            width: 50px;
            height: 50px;
            margin: 0 auto;
        }
        &__descr {
            h3 {
                font-size: 16px;
                text-align: center;
                margin-bottom: 8px;
            }
            p {
                font-size: 14px;
                text-align: center;
            }
        }
        &__promt {
            width: 54px;
            height: 54px;
            margin: 0 auto;
        }
        &__btn {
            font-size: 14px;
            padding: 0 16px;
        }
    }
}

