.header {
    width: 100%;
    position: relative;
    padding: 70px 0 80px;
    &__first {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        position: relative;
    }
    &__first-title {
        margin-bottom: 10px;
    }
    &__first-subtitle {
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
        letter-spacing: 0.02em;
        margin-bottom: 81px;
    }
    &__img {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__btn {
        margin-bottom: 45px;
    }
    &__txt {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.02em;
    }
    &__support-chat {
        position: absolute;
        right: 0;
        bottom: -88px;
        cursor: pointer;
        transition: all .3s;
        width: 40px;
        height: 40px;
        img {
            width: 100%;
            height: 100%;
        }
        &:hover{
            transform: translate(1px, 2px);
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &__first {
            gap: 0px;
        }
        &__text-box {
            grid-area: 1 / 1 / 2 / 3;
            width: 60%;
        }
        &__img {
            grid-area: 1 / 2 / 2 / 3;
        }
    }
}

@media (max-width: 992px) {
    .header {
        padding: 50px 0 60px;
        &__text-box {
            width: 100%;
        }
        &__first-subtitle {
            width: 60%;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
            letter-spacing: 0.02em;
            margin-bottom: 61px;
        }
        &__btn {
            margin-bottom: 36px;
        }
        &__txt {
            font-size: 18px;
        }
        &__support-chat {
            bottom: -68px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        position: relative;
        padding: 40px 0 60px;
        &__first {
            grid-template-columns: 1fr;
            gap: 30px;
        }
        &__text-box {
            grid-area: 1 / 1 / 2 / 2;
        }
        &__first-subtitle {
            font-size: 30px;
            margin-bottom: 54px;
            text-align: center;
            width: 80%;
        }
        &__img {
            grid-area: 2 / 1 / 3 / 2;
        }
        &__btn {
            margin: 0 auto;
            margin-bottom: 32px;
        }
        &__txt {
            font-size: 18px;
            text-align: center;
        }
    }
}

@media (max-width: 576px) {
    .header {
        padding: 28px 0 72px;
        &__first-title {
            margin-bottom: 5px;
        }
        &__first-subtitle {
            font-size: 24px;
            margin-bottom: 30px;
            width: 100%;
        }
        &__btn {
            margin-bottom: 20px;
        }
        &__txt {
            font-weight: 400;
            font-size: 14px;
        }
        &__support-chat {
            bottom: -78px;

        }
    }
}