@use '/src/sass/libs/animation';

.header {
    width: 100%;
    position: relative;
}

@media (max-width: 1600px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}