.help-psy {
    background: var(--bg-color);
    padding: 80px 0 90px;
    &__subtitle {
        text-align: center;
        margin-bottom: 10px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__txt {
        width: 50%;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
        &::after {
            content: '';
            display: block;
            background: url('/src/img/noun-arrow.svg') center center / cover no-repeat;
            width: 71px;
            height: 122px;
            margin-left: calc(100% + 45px);
            margin-top: -32px;
        }
    }
    &__lines {
        width: max-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }
    &__line {
        display: flex;
        width: max-content;
        &_1 {
            animation: marquee-left 100s linear infinite;
        }
        &_2 {
            animation: marquee-right 100s linear infinite;
        }
    }
    &__list {
        display: flex;
        gap: 30px;
        margin-right: 30px;
    }
    &__item {
        padding: 13px 42px;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        border-radius: 40px;
        &_white {
            border: 2px solid var(--violet-1);
            color: var(--violet-1);
        }
        &_dark {
            background: var(--violet-1);
            border: 2px solid var(--violet-1);
            color: var(--white);
        }
    }
}

@keyframes marquee-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Сдвигаем на половину ширины (на одну ul) */
    }
}
@keyframes marquee-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0); /* Сдвигаем на половину ширины (на одну ul) */
    }
}

@media (max-width: 1200px) {
    .help-psy__txt {
            width: 70%;
    }
}

@media (max-width: 992px) {
    .help-psy {
        &__txt {
            width: 80%;
            font-size: 18px;
            margin-bottom: 30px;
            &::after {
                margin-left: calc(100% - 25px);
            }
        }
        &__list {
            display: flex;
            gap: 20px;
            margin-right: 20px;
        }
        &__item {
            padding: 10px 32px;
            font-size: 18px;
            border-radius: 30px;
        }
    }
}


@media (max-width: 576px) {
    .help-psy {
        padding: 40px 0;
        &__title {
            margin-bottom: 16px;
        }
        &__txt {
            width: 100%;
            font-size: 14px;
            margin-bottom: 20px;
            &::after {
                width: 52px;
                height: 81px;
                margin-left: calc(100% - 62px);
                margin-top: 0;
            }
        }
        &__lines {
            gap: 16px;
        }
        &__line {
            display: flex;
            width: max-content;
            &_1 {
                animation: marquee-left 160s linear infinite;
            }
            &_2 {
                animation: marquee-right 160s linear infinite;
            }
        }
        &__list {
            gap: 16px;
            margin-right: 16px;
        }
        &__item {
            padding: 10px 26px;
            font-size: 14px;
            border-radius: 20px;
        }
    }
}

