.psy-proof {
    --visible-slides: 1;
    padding: 100px 0;
    &__subtitle {
        margin-bottom: 10px;
    }
    &__title {
        margin-bottom: 27px;
        width: 80%;
    }
    &__descr {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        width: 70%;
        margin-bottom: 60px;
    }
    &__carousel {
        display: none;
    }
    &__wrapper {
        display: grid;
        grid-template: repeat(2, max-content) / 5fr 2fr 5fr;
        gap: 30px;
    }
    &__item {
        padding: 28px 30px;
        background: var(--blue-light);    
        border-radius: 20px;
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / 3;
        }
        &:nth-child(2) {
            grid-area: 1 / 3 / 2 / 4;
        }
        &:nth-child(3) {
            grid-area: 2 / 1 / 3 / 2;
        }
        &:nth-child(4) {
            grid-area: 2 / 2 / 3 / 4;
        }
    }
    &__img {
        width: 150px;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__txt {
        width: 75%;
        h3 {
            margin-bottom: 16px;
        }
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 0.01em;
        }
    }
}

@media (max-width: 1200px) {
    .psy-proof {
        &__title {
            width: 100%;
        }
        &__descr {
            width: 80%;
        }
        &__item {
            gap: 30px;
        }
        &__txt {
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
   .psy-proof {
        &__descr {
            width: 100%;
        }
        &__wrapper {
            display: grid;
            grid-template: repeat(3, max-content) / repeat(2, 1fr);
            gap: 30px;
        }
        &__item {
            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 3;
            }
            &:nth-child(2) {
                grid-area: 2 / 1 / 3 / 2;
            }
            &:nth-child(3) {
                grid-area: 2 / 2 / 3 / 3;
            }
            &:nth-child(4) {
                grid-area: 3 / 1 / 4 / 3;
            }
        }
        &__img {
            width: 120px;
            height: 120px;
        }
    }
}

@media (max-width: 768px) {
    .psy-proof {
        padding: 80px 0;
        &__descr {
            font-size: 18px;
            width: 100%;
            margin-bottom: 40px;
        }
        &__carousel {
            display: block;
        }
        &__wrapper {
            display: none;
        }
        &__txt {
            width: 100%;
            background: var(--bg-color);
            border-radius: 20px;
            padding: 30px 20px;
            h3 {
                margin-bottom: 16px;
                text-align: center;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.01em;
                text-align: center;
            }
        }
    }

}

@media (max-width: 576px) {
    .psy-proof {
        padding: 40px 0 45px;
        &__subtitle {
            margin-bottom: 10px;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__descr {
            font-size: 13px;
            margin-bottom: 40px;
        }
        &__txt {
            h3 {
                margin-bottom: 8px;
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}