.btn-link {
    padding: 14px 0;
    border: 2px solid var(--violet-1);
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--violet-1);
    width: 240px;
    background: transparent;
    transition: all .3s;
    &:hover {
        background: rgba(215, 195, 230, 0.25);
        transform: translateY(2px);
    }
    &:active {
        background: var(--violet-1);
        color: var(--white);
    }
}

.btn {
    display: block;
    width: 380px;
    height: 70px;
    border-radius: 15px;
    background: var(--violet-1);
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    box-shadow: 10px 10px 0 var(--blue);
    transition: all .3s;
    &:hover {
        transform: translate(5px, 5px);
        box-shadow: 5px 5px 0 var(--blue);
    }
    &:active {
        transform: translate(6px, 6px);
        box-shadow: 1px 1px 0 var(--blue);

    }
}

@media (max-width: 992px) {
    .btn-link {
        padding: 10px 0;
        width: 160px;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .btn {
        width: 100%;
    }
    
}
@media (max-width: 576px) {
    .btn {
        width: 100%;
        height: 60px;
        border-radius: 10px;
        font-size: 18px;
        line-height: 60px;
    }
}