.burger {
    display: none;
}

@media (max-width: 768px) {
    .burger {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 75%;
        height: 100vh;
        background: var(--white);
        top: 0;
        right: -100%;
        z-index: 10;
        padding: 30px 25px 40px 30px;
        transition: all .9s;
        &__close {
            margin-left: calc(100% - 25px);
            margin-bottom: 20px;
            border: none;
            background: transparent;
            cursor: pointer;
        }
        &__menu {
            font-weight: 500;
            font-size: 18px;
            line-height: 167%;
            letter-spacing: 0.02em;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 16px;
            svg {
                width: 24px;
                height: 24px;
                margin-left: 18px;
                transform: translateY(6px);
            }
        }
        &__social {
            display: flex;
            gap: 30px;
        }
        &__icon {
            width: 40px;
            height: 40px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    .burger.active {
        right: 0;
    }
}

@media (max-width: 576px) {
}