.form-main {
    display: grid;
    grid-template: repeat(5, min-content) / repeat(2, 1fr);
    gap: 38px 44px;
    &__rate {
        grid-area: 3 / 1 / 4 / 3;
    }
    &__comment {
        grid-area: 5 / 1 / 6 / 3;
    }
    &__btn {
        grid-area: 6 / 2 / 7 / 3;
        width: 100%;
    }
    &__label,
    fieldset {
        border: none;
        span {
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: var(--black);
            margin-bottom: 16px;
        }
    }
    input,
    textarea {
        width: 100%;
        border: none;
        padding: 2px 0 0 10px;
        border-bottom: 1px solid var(--black);
        background: transparent;
        min-height: 42px;
        max-height: 200px;
        &::placeholder {
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: #999;
        }
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: var(--black);
    }
    &__input-box {
        position: relative;
    }
    &__symbol {
        padding: 4px 12px;
        background: transparent;
        border: none;
        outline: 0px;
        font-weight: 400;
        font-size: 28px;
        line-height: 120%;
        color: #999;
        cursor:pointer;
        position: absolute;
        top: 32px;
        right: -10px;
        z-index: 2;
        transition: all .3s;
        &:hover {
            color: var(--black);
        }
        &:active {
            top: 34px;
        }
        &:disabled {
            color:#dedcdc;
            .form-main__symbol:active {
                top: 32px;
            }
        }
        &_plus {
            right: 30px;
        }
        
    }
    &__rate-radio {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400; 
        font-size: 18px;
        line-height: 133%;
        color: var(--black);
        &:not(:last-child) {
            margin-bottom: 44px;
        }
    }
    &__radio-label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #000;
        input {
            width: 16px;
            height: 16px;
            accent-color: var(--green);
        }
    }
    &__radio-txt {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: #000;
    }
    &__date {
        position: relative;
        svg {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 4px;
            bottom: 8px;
            pointer-events: none;
        }
    }
    &__date-tour {
        width: 100%;
        padding: 6px;
        border: none;
        border-bottom: 1px solid var(--black);
        appearance: none;
        -webkit-appearance: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #212121;
        outline-color: transparent;
        background: transparent;
        outline: transparent;
    }
}

.modal {
    .form-main {
        gap: 28px 34px;
        &__btn {
            grid-area: 6 / 1 / 7 / 3;
        }
        &__label,
        fieldset {
            border: none;
            p {
                margin-bottom: 6px;
            }
        }
        input,
        textarea {
            &::placeholder {
                font-size: 16px;
            }
            font-size: 16px;
        }
        &__rate-radio {
            font-size: 18px;
            margin-bottom: 0;
        }
        &__date {
            svg {
                width: 20px;
                height: 20px;
            }
        }
        &__date-tour {
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
    .form-main {
        &__btn {
            grid-area: 6 / 2 / 7 / 3;
            width: 180px;
            padding: 8px 0;
            margin-left: auto;
        }
        &__rate-radio {
            margin-bottom: 0;
        }
    }
    .modal {
        .form-main {
            &__btn {
                width: 100%;
            }
        }
    }
}
@media (max-width: 768px) {
    .modal {
        .form-main {
            gap: 28px 34px;
            &__btn {
                grid-area: 6 / 1 / 7 / 3;
            }
            &__radio-txt {
                font-size: 18px;
            }
            &__date-tour {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 576px) {
    .form-main {
        display: grid;
        grid-template: repeat(8, min-content) / 1fr;
        gap: 24px;
        &__rate {
            grid-area: 5 / 1 / 6 / 2;
        }
        &__comment {
            grid-area: 6 / 1 / 7 / 2;
        }
        &__btn {
            grid-area: 8 / 1 / 9 / 2;
            width: 280px;
            margin: 0 auto;
        }
        input,
        textarea {
            font-size: 16px;
            &::placeholder {
                font-size: 16px;
            }
        }
        &__input-box {
            grid-area: 2 / 1 / 3 / 2;
            position: relative;
        }
        &__symbol {
            font-size: 24px;
            top: 44px;
            right: 0px;
            z-index: 2;
            &:active {
                top: 46px;
            }
            &:disabled {
                .form-main__symbol:active {
                    top: 46px;
                }
            }
            &_plus {
                right: 30px;
            }
            
        }
        &__rate-radio {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 24px;
        }
        &__radio-label {
            margin-bottom: 8px;
            input {
                flex: none;
            }
        }
        &__radio-txt {
            margin-left: 26px;
        }
        &__date {
            position: relative;
            svg {
                width: 20px;
                height: 20px;
                right: 12px;
            }
        }
        &__date-tour {
            font-size: 18px;
        }
    }
    .modal {
        .form-main {
            grid-template: repeat(8, min-content) / 1fr;
            gap: 24px;
            &__date {
                grid-area: 6 / 1 / 7 / 2;
            }
            &__comment {
                grid-area: 7 / 1 / 8 / 2;
            }
            &__btn {
                grid-area: 8 / 1 / 9 / 2;
                width: 100%;
            }
            &__symbol {
                font-size: 24px;
                top: 34px;
                &:active {
                    top: 34px;
                }
                &:disabled {
                    .form-main__symbol:active {
                        top: 34px;
                    }
                }
                &_plus {
                    right: 30px;
                }
                
            }
            &__rate-radio {
                margin-bottom: 18px;
            }
            &__radio-label {
                margin-bottom: 4px;
                input {
                    flex: none;
                }
            }
            &__radio-txt {
                margin-left: 26px;
            }
            &__date {
                position: relative;
                svg {
                    width: 20px;
                    height: 20px;
                    right: 12px;
                }
            }
            &__date-tour {
                font-size: 16px;
            }
        }
    }
}
