.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 500;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    &__content {
        overflow-y: auto;
        max-height: 100vh;
        position: relative;
        width: 800px;
        height: 100vh;
        background: var(--white);
        margin: 0 auto;
        padding: 45px 118px 0 118px;
    }
    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 38px;
        height: 38px;
        border: 2px solid #5a5a5a;
        border-radius: 50%;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .6s;
        &:hover {
            transform: translateY(3px);
            box-shadow: var(--shadow);
        }
        &::after,
        &::before {
            content: '';
            position: absolute;
            background: #5a5a5a;
            width: 24px;
            height: 1.5px;
        }
        &::after {
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
    }
    &__title {
        font-family: var(--font-inter);
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 125%;
        color: var(--black);
        margin-bottom: 65px;
    }
}
.modal.active {
    display: block;
}
.modal-success {
    display: none;
    position: fixed;
    padding: 40px;
    background: var(--white);
    box-shadow: var(--shadow);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    h4 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 20px;
    }
    &.ok {
        h4 {
            color: var(--green);
        }
    }
    &.error {
        h4 {
            color: var(--orange);
        }
    }
}
.modal-success.active {
    display: block;
}

@media (max-width: 992px) {
    .modal {
        &__content {
            width: 680px;
            padding: 45px 60px 0 60px;
        }
        &__title {
            margin-bottom: 45px;
        }
    }
}

@media (max-width: 768px) {
    .modal {
        &__content {
            width: 100%;
            height: 100vh;
            background: var(--white);
            margin: 0 auto;
            padding: 32px 20px 0 20px;
        }
        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        &__title {
            font-size: 32px;
            margin-bottom: 28px;
        }
    }
}

@media (max-width: 576px) {
    .modal {
        &__content {
            padding: 60px 10px 0;
        }
        &__title {
            font-size: 28px;
            margin-bottom: 24px;
        }
    }
}
