.nav-panel {
    width: 100%;
    height: 163px;
    position: relative;
    padding-top: 35px;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 60%, rgba(3, 0, 0, 0) 100%);
    z-index: 200;
    transition: all 0.6s ease;
    &__wrapper {
        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
}
.logo {
    width: 167px;
    height: 37px;
    // img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: contain;
    // }
    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.menu {
    display: flex;
    gap: 56px;
    padding-right: 28px;
    justify-self: end;
    a {
        font-weight: 400;
        font-size: 16px;
        color: var(--green);
        &:hover {
            text-decoration: underline;
        }
    }
}
.burger {
    display: none;
}

@media (max-width: 992px) {
    .nav-panel {
        height: 184px;
        &__wrapper {
            grid-template-columns: min-content 1fr 177px 24px;
            gap: 30px;
        }
    }

    .menu {
        display: none;
    }
    .burger {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        &__open {
            position: relative;
            width: 24px;
            height: 19px;
            display: flex;
            align-items: center;
            cursor: pointer;
            border: none;
            background: transparent;
            span,
            span::after,
            span::before {
                display: block;
                border-radius: 2px;
                width: 24px;
                height: 3px;
                background: #275553;
                transition: all .6s;
            }
            span::after {
                content: '';
                transform: translateY(5px);
            }
            span::before {
                content: '';
                transform: translateY(-8px);
            }
        }
        &__menu {
            display: none;
        }
        &__btn {
            display: none;
        }
    }
    .burger.active {
        position: absolute;
        background: var(--white);
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        gap: 56px;
        .burger__open {
            position: absolute;
            top: 30px;
            right: 24px;
            span {
                background: transparent;
            }
            span::after {
                content: '';
                transform: rotate(45deg) translateY(-3px);
            }
            span::before {
                content: '';
                transform: rotate(-45deg) translate(1px, 1px);
            }
        }
        .burger__menu {
            display: flex;
            flex-direction: column;
            gap: 56px;
            a {
                font-weight: 400;
                font-size: 20px;
                line-height: 160%;
                color: var(--black);
            }
        }
        .burger__btn  {
            display: block;
        }
    }
}

@media (max-width: 576px) {
   .nav-panel {
        padding-top: 20px;
        &__wrapper {
            grid-template-columns: max-content 1fr max-content;
            gap: 0;
        }
        &__btn {
            display: none;
        }
    }
}