.nav-panel {
    margin-bottom: 92px;
    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 170px;
        height: 44px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__menu {
        display: flex;
        gap: 70px;
        margin-left: 50px;
        li > a {
            font-weight: 600;
            font-size: 16px;
            line-height: 188%;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--txt-color);
        }
    }
    &__btn-open {
        display: none;
    }
}

@media (max-width: 1200px) {
    .nav-panel__menu {
            gap: 40px;
            margin-left: 30px;
    }
}
@media (max-width: 992px) {
    .nav-panel {
        &__logo {
            width: 140px;
        }
        &__menu {
            gap: 0px 16px;
            margin-left: 10px;
        }
    }
}
@media (max-width: 768px) {
    .nav-panel {
        margin-bottom: 60px;
        &__wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__logo {
            width: 170px;
            height: 44px;
        }
        &__menu {
            display: none;
        }
        &__btn-pa {
            display: none;
        }
        &__btn-open {
            display: block;
            width: 30px;
            height: 22px;
            border: none;
            background: transparent;
            cursor: pointer;
            transition: all .3s;
            svg {
                width: 100%;
                height: 100%;
            }
            &:hover {
                transform: translate(2px, 2px);
            }
        }
    }
}
@media (max-width: 576px) {
    .nav-panel {
        margin-bottom: 47px;
        &__logo {
            width: 100px;
            height: 26px;
        }
    }
}