.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 500;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    &__content {
        display: none;
        overflow-y: auto;
        max-height: 100vh;
        position: relative;
        width: 800px;
        height: 100vh;
        background: var(--white);
        margin: 0 auto;
        padding-bottom: 20px;
    }
    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 38px;
        height: 38px;
        border: 2px solid var(--white);
        border-radius: 50%;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .6s;
        &:hover {
            transform: translateY(3px);
            box-shadow: var(--shadow);
        }
        &::after,
        &::before {
            content: '';
            position: absolute;
            background: var(--white);
            width: 24px;
            height: 1.5px;
        }
        &::after {
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
    }
    &__img {
        width: 100%;
        height: 420px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__txt {
        padding: 0 64px;
        h3 {
            font-family: var(--font-inter);
            font-weight: 700;
            font-size: 40px;
            line-height: 125%;
            margin-bottom: 24px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }
}
.popup.active {
    display: block;
}
.popup__content.active {
    display: block;
}

@media (max-width: 992px) {
    .popup {
        &__content {
            width: 100%;
        }
        &__close {
            position: fixed;
            top: 40px;
            right: 50px;
        }
        &__img {
            width: 100%;
            height: 380px;
        }
        &__txt {
            padding: 0 50px;
            h3 {
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 768px) {
    .popup {
        &__img {
            width: 100%;
            height: 320px;
        }
        &__txt {
            padding: 0 40px;
        }
    }
}

@media (max-width: 576px) {
    .popup {
        &__close {
            position: fixed;
            top: 20px;
            right: 20px;
        }
        &__img {
            height: 180px;
            margin-bottom: 14px;
        }
        &__txt {
            padding: 0 16px;
            h3 {
                font-family: var(--font-inter);
                font-weight: 700;
                font-size: 24px;
                line-height: 133%;
                margin-bottom: 16px;
            }
        }
    }
}
